
<footer>
  <p>Copyright © <%= new Date().getFullYear() %> Arman Firma Usługowa. <br/> Wszelkie prawa Zastrzeżone
  </p>
  <p>Realizacja: <a href="https://www.linkedin.com/in/tadeusz-david-wozniak/" target="_blank">Tadeusz Woźniak</a</p>
</footer>
<script src="/src/menu.js" type="module"></script>

</body>

</html>