<%- include("partials/header.ejs",{active:active}) %>

  
<section class="about-section">
    <h2>Arman – 30 lat doświadczenia w branży budowlanej</h2>
    <p>Firma <strong>Arman</strong> to zespół wykwalifikowanych specjalistów, którzy od ponad <strong>30 lat</strong> świadczą usługi budowlane i wykończeniowe na najwyższym poziomie. Nasze doświadczenie, precyzja i zaangażowanie sprawiają, że realizujemy projekty, które spełniają oczekiwania nawet najbardziej wymagających klientów.</p>
    <p><strong>Dlaczego warto nam zaufać?</strong></p>
    <ul style="list-style-type:none;">
        <li><span class="material-symbols-outlined">check_circle</span> <strong>Wieloletnie doświadczenie</strong> – 30 lat na rynku to gwarancja jakości i profesjonalizmu.</li>
        <li><span class="material-symbols-outlined">check_circle</span> <strong>Kompleksowe usługi</strong> – od układania płytek po pełne remonty i wykończenia wnętrz.</li>
        <li><span class="material-symbols-outlined">check_circle</span> <strong>Nowoczesne technologie</strong> – korzystamy z innowacyjnych rozwiązań i najlepszych materiałów.</li>
        <li><span class="material-symbols-outlined">check_circle</span> <strong>Indywidualne podejście</strong> – każdy projekt dopasowujemy do potrzeb klienta.</li>
    </ul>
    <p>Jesteśmy dumni z naszej pracy i każdego dnia dokładamy wszelkich starań, aby dostarczać solidne i estetyczne rozwiązania budowlane.</p>
     <p> <strong>Z nami Twój projekt jest w dobrych rękach!</strong></p>
</section>

<%- include("partials/footer.ejs") %>