<%- include("partials/header.ejs",{active:active}) %>

  <section class="hero">
    <div class="content">
      <h1>Profesjonalne usługi budowlane<br> Arman Firma Usługowa</h1>
      <p>Szukasz fachowców, którzy zadbają o perfekcyjne wykończenie Twojego wnętrza? Specjalizujemy się w układaniu
        płytek, remontach i wykończeniach wnętrz.</p>
      <a href="/contact" class="btn btn-primary">Zamów wycenę</a>
    </div>
    <div class="contentImage">
      <two-up class="my-two-up">
        <div>
          <img src="/images/realizations/project1.jpg" alt="" />
        </div>
        <div>
          <img src="/images/realizations/project2.jpg" alt="">
        </div>
      </two-up>
    </div>
  </section>



  <%- include("partials/footer.ejs") %>