<%- include("partials/header.ejs",{active:active}) %>

    <section class="services">
        <H1>Nasze usługi</H1>
        <div class="servicesContainer">
            <div class="service">
                <span class="material-symbols-outlined">
                    grid_view
                </span>
                <h2>Układanie glazury, granitu i marmuru</h2>
                <p>Realizujemy projekty związane z układaniem glazury, granitu i marmuru, niezależnie od formatu i skali
                    prac. Gwarantujemy precyzję wykonania oraz trwałość powierzchni. </p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    home
                </span>
                <h2>Kompleksowe wykończenia wnętrz</h2>
                <p>Oferujemy pełny zakres prac wykończeniowych, w tym stawianie ścian, montaż sufitów podwieszanych oraz
                    prace tynkarskie. Dbamy o każdy etap realizacji, aby wnętrze spełniało najwyższe standardy. </p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    bolt
                </span>
                <h2>Instalacje elektryczne i hydrauliczne</h2>
                <p>Modernizujemy oraz adaptujemy instalacje elektryczne i hydrauliczne, dostosowując je do potrzeb
                    klienta. Zapewniamy bezpieczeństwo i zgodność z obowiązującymi normami. </p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    carpenter
                </span>
                <h2>Stolarka – drzwi, balustrady, schody</h2>
                <p>Realizujemy projekty stolarskie z dbałością o każdy szczegół. Dzięki wieloletniemu doświadczeniu
                    eliminujemy błędy i zapewniamy solidne, estetyczne wykonanie. Posiadamy nowoczesne maszyny do
                    obróbki drewna. </p>
            </div>

            <div class="service">
                <span class="material-symbols-outlined">
                    hardware
                </span>
                <h2>Sztukateria i dekoracyjne wykończenia</h2>
                <p>Dbamy o najwyższą jakość i precyzję w montażu gzymsów, korniszy oraz listew gipsowych i
                    styropianowych. Nasza wiedza i doświadczenie pozwalają nam tworzyć eleganckie i trwałe detale
                    dekoracyjne.</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    design_services
                </span>
                <h2>Obróbka drewna i indywidualne projekty</h2>
                <p>Dysponujemy profesjonalnym zapleczem do obróbki drewna, co pozwala nam realizować nietypowe projekty.
                    Wykonujemy zabudowy, meble na wymiar oraz inne elementy stolarskie dostosowane do Twoich potrzeb.
                </p>
            </div>
        </div>
    </section>



    <%- include("partials/footer.ejs") %>