<%- include("partials/header.ejs",{active:active}) %>

    <section class="services">
        <H1>Nasze usługi</H1>
        <div class="servicesContainer">
            <div class="service">
                <span class="material-symbols-outlined">
                    construction
                </span>
                <h2>Usługa 1</h2>
                <p>Jakiś fajny opis</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    build
                </span>
                <h2>Usługa 2</h2>
                <p>Jakiś fajny opis</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    carpenter
                </span>
                <h2>Usługa 3</h2>
                <p>Jakiś fajny opis</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    home
                </span>
                <h2>Usługa 4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ipsum eum, laborum
                    veritatis adipisci iusto in ipsa assumenda modi deserunt aut distinctio optio nemo, molestiae
                    tempore vel maxime sapiente.</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    grid_view
                </span>
                <h2>Usługa 5</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ipsum eum, laborum
                    veritatis adipisci iusto in ipsa assumenda modi deserunt aut distinctio optio nemo, molestiae
                    tempore vel maxime sapiente.</p>
            </div>
            <div class="service">
                <span class="material-symbols-outlined">
                    hardware
                </span>
                <h2>Usługa 6</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ipsum eum, laborum
                    veritatis adipisci iusto in ipsa assumenda modi deserunt aut distinctio optio nemo, molestiae
                    tempore vel maxime sapiente.</p>
            </div>
        </div>
    </section>



    <%- include("partials/footer.ejs") %>